@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite-svelte-icons/dist";

html.light, body.light {
    background-color: white;
    color: black;
}

html.dark, body.dark {
    background-color: black;
    color: white;
}